body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  width: 100%;
  background-color: rgb(87, 87, 87);
}

.nav{
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: none;
}

.nav-item {
  list-style: none;
  text-align: center;
  float: left;
  
}

.navbar a {
  text-align: center;
  color:aquamarine;
  padding: 14px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
